.home {
    padding-top: 20px;
    width: 500px;
    margin: 0 auto;
    height: 120px;
  }
  
  .home textarea {
    float: left;
    width: 400px;
    height: 100px;
  }
  .home button {
    float: left;
    width: 80px;
    height: 106px;
    margin-left: 10px;
    background-color: white;
    border: 1px solid black;
  }